@font-face {
    font-family: 'Lexend';
    src: url(../font/lexend/static/Lexend-Medium.ttf),
    url(../font/lexend/static/Lexend-Regular.ttf),
    url(../font/lexend/static/Lexend-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Lexend';
}

header{
    width: 100%;
    padding-top: 40px!important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header nav{
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    background: #3268813d;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}
.logo-hunter {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo-hunter h3{
    color: var(--mrt-app-headline, #1B1C57);
    font-size: 16px;
}

.logo-hunter-menu h3{
    color: var(--mrt-app-headline, #1B1C57);
    font-size: 16px;
}

.logo-hunter-menu{
    display: none;
}

.hunter-menu{
    display: flex;
    gap: 24px;
    align-items: center;
}

.link-menu-hunter{
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: var(--neutral-100, #F0F3FD);
    font-size: 14px;
}
.link-menu-hunter:hover{
    background-color: #79b3cea3;
}
.link-menu-hunter:active{
    background-color: #589cbba3;
}

.hunter-menu select{
    padding: 8px 16px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    color: var(--neutral-100, #F0F3FD);
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
.hunter-menu select:hover{
    background-color: #79b3cea3;
}
.hunter-menu select:active{
    background-color: #589cbba3;
}

.hunter-menu li{
    list-style: none;
}

.toggle{
    display: none;
}
.toggle img{
    width: 24px;
    height: 24px;
}

.toggle{
    padding: 5px;
    border-radius: 5px;
}
.toggle:hover{
    background: #FFF8;
}
.toggle:active{
    background: #F0F3FD;
}

.sign-button a{
    background: var(--green-100, #D1FAE5)!important;
    padding: 12px 24px!important;
    color: var(--green-700, #047857)!important;
    line-height: 22px!important;
    margin-left: 32px;
    border-radius: 32px;
    text-decoration: none;
    font-size: 14px;
}

.sign-button a:hover{
    background-color: #d8e7e0!important;
}
.sign-button a:active{
    background-color: #a8e7ca!important;
}
@media (max-width:1116px){
    header nav{
        width: 95%;
    }
}

@media (max-width:992px) {
    header{
        padding-top: 14px!important;
    }
    header nav{
        padding: 10px 18px 10px 18px;
    }
    .logo-hunter-menu{
        display: block;
        display: flex;
        align-items: center;
        padding: 24px;
        border-bottom: 1px solid #FFFF;
        gap: 12px;
    }
    .toggle{
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .open-menu{
        display: block;
    }
    .close-menu{
        display: none;
    }
    .open .open-menu{
        display: none;
    }
    .open .close-menu{
        display: block;
    }
    
    .hunter-header-left{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transform: translateX(120%);
        background: #3268813d!important;
        backdrop-filter: blur(5px)!important;
        transition: transform 0.5s;
        width: 400px;
    }
    .hunter-menu{
        flex-direction: column;
        align-items: start;
        gap: 50px;
        padding: 24px;
    }
    .open .hunter-header-left{
        transform: translateX(0);
    }

    .open header nav{
        background: none!important;
        backdrop-filter: none!important;
    }
    .sign-button a{
        margin-left: 0;
    }
}

@media (max-width:576px) {
    .hunter-header-left{
        width: 300px;
    }
}