
.text-head-partenership{
    text-align: center;
}

.text-head-partenership img{
    width: 32px;
    height: 1px;
}

.text-head-partenership h5{
    color: #F59E0B;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.text-head-partenership h2{
    color: #1B1C57;
    font-size: 32px;
    max-width: 30%;
    margin: auto;
}

.text-head-partenership button{
    color: #FFF;
    font-size: 14px;
    border-radius: 32px;
    background-color: #10B981;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 32px;
}