
#recommendation{
    overflow: hidden;
}

.recommendation-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px!important;
    max-width: 84%;
    margin: auto;
}

#recommendation h5{
    color: #F59E0B;
    font-size: 14px;
    line-height: normal;
    max-width: 84%;
    margin: auto;
}

.recommendation-link{
    display: flex;
    gap: 32px;
}

.recommendation-head h2{
    color: #1B1C57;
    font-size: 32px;
    line-height: normal;
}

.icone-green{
    display: none;
}

.recommendation-link a{
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 32px;
    border: 1px solid var(--neutral-300, #E0E3EB);
    padding: 12px 24px;
    text-decoration: none;
    color: #888B97;
    font-size: 18px;
}
.recommendation-link a:hover{
    color: #10B981;
    background-color: #D1FAE5;
}
.recommendation-link a:hover .icone-simple{
    display: none;
}
.recommendation-link a:hover .icone-green{
    display: block;
}
.recommendation-link img{
    width: 24px;
    height: 24px;
}

.prev-next-recommendation{
    display: flex;
    gap: 8px;
}
.prev-next-recommendation button{
    font-size: 20px;
    color: #3C4563;
    padding: 16px 22px;
    border-radius: 32px;
    background-color: #E0E3EB;
    border: none;
    display: flex;
    cursor: pointer;
}
.prev-next-recommendation button:hover{
    background-color: #10B981;
    color: #FFFFFF;
}

/* recommendation-container */
.recommendation-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    gap: 40px;
    display: flex;
    margin-left: 8%;
    width: 100%;
}

.pic-house-recommendation .picture-house{
    width: 340px;
    height: auto;

}

.pic-house-recommendation{
    position: relative;
}

.button-popular{
    position: absolute;
    bottom: 0;
    padding: 0 0 16px 16px;
}

.button-popular button{
    padding: 8px 16px;
    border-radius: 32px;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.house-price h3{
    font-size: 24px;
    color: #0E1735;
    line-height: 32px;
}
.house-price p{
    font-size: 20px;
    line-height: 32px;
    color: #3C4563;
}

.house-owner {
    display: flex;
    gap: 16px;
    align-items: center;
}
.house-owner h4{
    font-size: 18px;
    color: #0E1735;
    line-height: 22px; 
}
.house-owner p{
    font-size: 14px;
    color: #888B97;
    line-height: 22px;
} 

.recommendation-row{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recommendation-house-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width:1116px) {
    .recommendation-head, #recommendation h5{
        max-width: 94%;
    }
    .recommendation-container{
        margin-left: 3%;
    }
    .recommendation-head h2{
        font-size: 24px;
    }
}

@media (max-width:992px) {
    .recommendation-head{
        flex-direction: column;
        gap: 24px;
    }
    #recommendation h5{
        max-width: 100%;
        text-align: center;
    }
    .prev-next-recommendation{
        gap: 24px;
    }
    .recommendation-link{
        gap: 10px;
    }
}

@media (max-width:576px) {
    .recommendation-link a{
        font-size: 14px;
        padding: 8px 16px;
    }
    .recommendation-link img {
        width: 20px;
        height: 20px;
    }

    .prev-next-recommendation button{
        padding: 10px 15px;
        font-size: 14px;
    }
}